* {
    box-sizing: border-box;
  }

body {
    background-color: white;
    background-image: url("https://i.imgur.com/ZA6Y3PO.png");
    background-size: 190vmin 210vmin, auto;
    margin: 0 auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Pacifico', cursive;;
}

nav {
    color: black;
    text-align: left;
    margin: 3vmin 0 0 3vmin;
    font-size: 3vmin;
}

img {
    margin: 5vh auto;
    text-align: center;
    width: 30%;
    height: 30%;
}
section {
    text-align: center;
    display: block;
}

#submit {
    margin-top: 5vmin;
    margin-bottom: -10px;
    height: 9vh;
    width: 9vh;
    border-radius: 200%;
    font-size: 19px;
    background-color: pink;
    border: lightblue dotted 3px;
    color: red;  
}

h1 {
    margin-bottom: 7vh;
    margin-top: 2vh;
    color:black;
    font-size: 100px;
}

main {
    margin-bottom: 5vh;
    font-size: 50px;
    color: black;
}

#submit:hover {
    background-color: lightyellow;
}

#reset {
    margin: 7vmin;
    border: inset silver;
    padding: .5vmin;
    border-radius: 10%;
    background-color: white;
    color: red;
}

.dropbtn {
  background-color: lightyellow;
  color: black;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  float: right;
  margin-right: 5vmin;
  margin-left: -100vmin;
}

.dropdown-content {
    background-color: pink;
  display: none;
  position: absolute;
  min-width: 108px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightblue;
}

@media only screen and (max-width: 640px) {
    body {
        
        background-size: 250vmin 300vmin, cover;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-attachment:local; 
    }
    img {
        width: 45%;
        height: 45%;
        margin-bottom: -5px;
    }
    h1 {
        font-size: 30px;
        margin-top: 2px;
    }
    main {
        font-size: 30px;
        margin-bottom: 2px;
    }
    #submit {
        height: 15vmin;
        width: 15vmin;
        font-size: 10px;
        margin-bottom: 2px;
    }
}