* {
    box-sizing: border-box;
  }

body {

    background-color:#102144;
    background-image: url("https://i.imgur.com/mngpVOr.png");
    background-size: 270vmin 150vmin, cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:top;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Play', sans-serif;
}

nav {
    color: white;
    text-align: left;
    margin: 3vmin 0 0 3vmin;
    font-size: 3vmin;
}
img {
    margin: 5vh auto;
    text-align: center;
    width: 30%;
    height: 30%;
}

section {
    text-align: center;
    display: block;
}
#submit {
    margin-top: 5vmin;
    height: 9vh;
    width: 9vh;
    border: outset silver 5px;
    border-radius: 200%;
    font-size: 19px;
    
}

h1 {
    margin-bottom: 7vh;
    margin-top: 2vh;
    color: white;
    font-size: 100px;
}

main {
    margin-bottom: 5vh;
    font-size: 50px;
    color: white;
}
#submit:hover {
    background-color: green;
}

#reset {
    margin: 7vmin;
    border: inset silver;
    padding: .5vmin;
    border-radius: 10%;
    background-color: rgb(1, 167, 1);
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("https://i.imgur.com/vCX7DkY.png");
        background-size: 200vmin 175vmin, cover;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: left;
        background-attachment: fixed; 
    }
    img {
        width: 80%;
        height: 80%;
    }
    h1 {
        font-size: 30px;
    }
    main {
        font-size: 30px;
    }
    #submit {
        height: 10vh;
        width: 10vh;
        font-size: 15px;
    }
}