* {
    box-sizing: border-box;
  }

body {

    background-color:#102144;
    background-image: url("");
    background-size: 270vmin 150vmin, cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:top;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Play', sans-serif;
}

nav {
    color: white;
    text-align: left;
    margin: 3vmin 0 0 3vmin;
    font-size: 3vmin;
}
img {
    margin: 5vh auto;
    text-align: center;
    width: 30%;
    height: 30%;
}

section {
    text-align: center;
    display: block;
}
#submit {
    margin-top: 5vmin;
    height: 9vh;
    width: 9vh;
    border: outset silver 5px;
    border-radius: 200%;
    font-size: 19px;
    
}

h1 {
    margin-bottom: 7vh;
    margin-top: 2vh;
    color: white;
    font-size: 100px;
}

main {
    margin-bottom: 5vh;
    font-size: 50px;
    color: white;
}
#submit:hover {
    background-color: green;
}

#reset {
    margin: 7vmin;
    border: inset silver;
    padding: .5vmin;
    border-radius: 10%;
    background-color: rgb(1, 167, 1);
    color: white;
}
/* Dropdown Button */
.dropbtn {
  background-color:#102144;
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right;
  margin-right: 5vmin;
  margin-left: -100vmin;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 123px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media only screen and (max-width: 640px) {
    body {
        
        background-size: 250vmin 200vmin, cover;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-attachment:local; 
    }
    img {
        width: 50%;
        height: 50%;
    }
    h1 {
        font-size: 30px;
        margin-top: 2px;
    }
    main {
        font-size: 30px;
        margin-bottom: 2px;
    }
    #submit {
        height: 15vmin;
        width: 15vmin;
        font-size: 10px;
        margin-bottom: 2px;
    }
}